node_modules
dist/a0.mp4
dist/m3u8link.m3u8
dist/master.m3u8
dist/字幕0.tty
dist/字幕1.tty
dist/字幕10.tty
dist/字幕11.tty
dist/字幕12.tty
dist/字幕13.tty
dist/字幕2.tty
dist/字幕3.tty
dist/字幕4.tty
dist/字幕5.tty
dist/字幕6.tty
dist/字幕7.tty
dist/字幕8.tty
dist/字幕9.tty
dist/视频0.mp4
dist/视频1.mp4
dist/视频10.mp4
dist/视频11.mp4
dist/视频12.mp4
dist/视频13.mp4
dist/视频2.mp4
dist/视频3.mp4
dist/视频4.mp4
dist/视频5.mp4
dist/视频6.mp4
dist/视频7.mp4
dist/视频8.mp4
dist/视频9.mp4
list_node.txt
result.ac3
result.m4a
result.mp3
result.ogg
dist/字幕0.ass
dist/output.mp4